body{
	font-family: Georgia, serif ;
	font-size: 15px;
}

.nom .prenom .pseudo .email .modepasse .photoprofil .imagefond{
margin-bottom:20px;
}


h1{
	font-size: 35px;
	font-weight: bold ;
	color: #007179;

}  

li{
	font-size: 20px;
	margin-top: 20px;
	width: 150px;
	text-align: center;
}


footer {
  background-color: #008CBA;
  color: white;
  padding: 15px;
  font-size: 20px;
  width: auto;
}

button{
	font-size: 20px;
	margin-top: 5px;
	width: 180px;
	text-align: center;
	color: white;
	border:none;
	background-color: #008CBA;
	border-radius:15px ;
}

li button{
	font-size: 20px;
	margin-top: 5px;
	width: 180px;
	text-align: center;
	color: #007179;
	border:none;
	background-color: white;
	border-radius:15px ;
}

