body{
	font-family: Georgia, serif ;
	font-size: 30px;
}
 
.nom .prenom .pseudo .email .modepasse .photoprofil .imagefond{
margin-bottom:20px;
}

h1{
	font-size: 35px;
	font-weight: bold ;
	color: #007179;
}
h2{
	font-size: 25px;
	font-weight: bold ;
	color: #007179;

}

form label{
	display: inline-flex;
	padding-left: 40px;
	width: 150px;
	text-align: right;
	cursor: pointer;
    color: #008CBA;
    font-weight: bold;
    padding-bottom: 25px;
}

form label:hover {
    color: #25a5c4;
}

form input{
	width: 200;
	border-radius: 5px;
	font-size: 20px;
}

footer {
  background-color: #008CBA;
  color: white;
  padding: 15px;
  font-size: 20px;
  width: auto;
}

#accueil{
	font-size: 20px;
	margin-top: 5px;
	width: 180px;
	text-align: center;
	color: white;
	border:none;
	background-color: #008CBA;
	border-radius:15px ;
}